{{#each this}}
    <div class="row g-0">
          <div class="col-md-4">
            <img src="{{flag}}" alt="{{name}}" width="220" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">
               capital : {{capital}}
              </p>
              <p class="card-text">
               population : {{population}}
              </p>

              <p class="card-text">languages :</p>  

              <ul>
                {{#each languages}}
                    <li>{{this.name}}</li>
                {{/each}}
                
              </ul>
            </div>
          </div>
        </div>
{{/each}}